<div class="resource">
  <% if @resource_header %>
    <%=@resource_header %>
  <% end %>
  <% if @resource_methods %>
    <% @resource_methods.each do |method| %>
      <%=method %>
    <% end %>
  <% end %>
</div>
