<div class="resource_header">
  <h2><%=@name %></h2>
  <p class="resource_summary"><%=@content %></p>

  <% if @xml || @json %>
    <h3>Representations</h3>

    <% if @json %>
      <div class="json">
        <p><strong>JSON representation:</strong></p>
        <p><textarea><%=@json %></textarea></p>
      </div>
    <% end %>

    <% if @xml %>
      <div class="xml">
        <p><strong>XML representation:</strong></p>
        <p><textarea><%=@xml %></textarea></p>
      </div>
    <% end %>
  <% end %>
</div>
