<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @name || 'Home' %></title>
    <link rel="stylesheet" href="/flutie/stylesheets/flutie.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/apidoc/apidoc.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="/javascripts/jquery.js" type="text/javascript"></script>

  </head>
  <body>
    <div class="content">

      <h1>SpacialDB API</h1>

      <hr/>

      <h2>SpacialDB Management API</h2>
      <div id="introduction">
      <p>
        The goal of the <strong>SpacialDB Management API</strong> is two fold.
        Firstly for managing your <strong>geospatial database</strong> by performing the following operations on your database via a RESTful API:
        <ul>
          <li>creating</li>
          <li>listing</li>
          <li>deleting</li>
        </ul>

        Secondly for managing your <strong>user account</strong> by performing the following operations via a RESTful API:
        <ul>
          <li>sign up</li>
          <li>login</li>
        </ul>
      </p>
      </div>

      <h2>Resources</h2>
      <div id="resources">
        <ul>
        <% @resources.each do |r| %>
          <li>Resource:  <a href="/apidoc/<%=r.name %>.html"><%=r.resource_location %></a></li>
        <% end %>
        </ul>
      </div>

    </div>
  </body>
</html>
