<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <title>apidoc</title>
  </head>
  <body class="main">
    <iframe id="index" height="100%" src="/apidoc/resource_index.html"></iframe>
    <div id="resources">
      <div><strong>Show</strong>
        <ul>
          <li><strong>XML</strong><a href="javascript:void(0)" onclick="$('.xml').toggle()"> toggle </a></li>
          <li><strong>JSON</strong><a href="javascript:void(0)" onclick="$('.json').toggle()"> toggle </a></li>
        </ul>
      </div>
      <% resources.each do |resource| %>
        <%= resource %>
      <% end %>
    </div>
  </body>
</html>
